<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
<!-- https://www.kma.go.kr/kma/org/history.jsp#headsect -->
  <div class="timeline">
    <div class="timeline-container timeline-left">
      <div class="timeline-content">
        <h2>1940~</h2>
        <p>
          1948 / 국립중앙관상대 발족 <br>
          1956 / 세계기상기구 WMO에 68번째 회원국으로 가입
        </p>
      </div>
    </div>
    <div class="timeline-container timeline-right">
      <div class="timeline-content">
        <h2>1960~</h2>
        <p>
          1961 / 『기상업무법』제정 공포<br>

          1963 / 국립중앙관상대를 중앙관상대로 명칭 변경<br>

          1964 / 기상현업업무규정 제정, 특보 발표
        </p>
      </div>
    </div>
    <div class="timeline-container timeline-left">
      <div class="timeline-content">
        <h2>1970~</h2>
        <p>
          1971 / 국제 기상전용 통신망 개통 (서울 ↔ 도쿄)<br>

          1978 / 기상연구소 신설<br>

          1982 / 중앙관상대를 중앙기상대로 명칭 변경<br>

          1983 / 국지기상예보 발표 시작<br>

          1984 / 기상특보 예고제 시행<br>

          1987 / 자동기상관측(AWS) 업무 시작<br>

          1988 / 남극세종기지에서 기상관측 시작

        </p>
      </div>
    </div>
    <div class="timeline-container timeline-right">
      <div class="timeline-content">
        <h2>1990~</h2>
        <p>
          1990 / 5일 예보제 시작, 중앙기상대에서 기상청으로 승격<br>
          
          1991 / 수치예보 업무 시작<br>
          
          1993 / 주간예보 매일 발표 시작<br>
          
          1995 / 인공증우(기상조절) 최초 실험연구

        </p>
      </div>
    </div>
    <div class="timeline-container timeline-left">
      <div class="timeline-content">
        <h2>2000~</h2>
        <p>
          2000 / 기상관측선(기상 2000호) 운항 개시<br>

          2005 / 차관급 기관으로 격상, 『기상업무법』을『기상법』으로 전면 개정<br>
          
          『기상관측표준화법』제정, APEC 기후센터 개소<br>
          
          2007 / 세계기상기구 WMO에 집행이사국으로 진출

        </p>
      </div>
    </div>
    <div class="timeline-container timeline-right">
      <div class="timeline-content">
        <h2>2008~</h2>
        <p>
          2008 / 국가태풍센터 신설, 동네예보 시작<br>

          2009 / 『기상산업진흥법』제정, 국가기상위성센터<br>
          
          국가기상슈퍼컴퓨터센터 신설, WMO 장기예보선도센터 유치
        </p>
      </div>
    </div>
    <div class="timeline-container timeline-left">
      <div class="timeline-content">
        <h2>2010~</h2>
        <p>
          2010 / 천리안위성 발사, 기상레이더센터 신설<br>

          2011 / 기상1호 취항<br>
          
          2012 / GISC(전지구정보시스템센터) 서울 유치<br>
          
          우주기상 예·특보 대국민 서비스 실시<br>
          
          2013 / 중기예보(10일) 시작
        </p>
      </div>
    </div>
    <div class="timeline-container timeline-right">
      <div class="timeline-content">
        <h2>2014~</h2>
        <p>
          2014 / 『지진·지진해일·화산의 관측 및 경보에 관한 법률』제정<br>

          2015 / IPCC(기후변화에 관한 정부간 협의체) 의장 당선<br>
          
          지진조기경보서비스 시작<br>
          
          2017 / 기상항공기 도입<br>
          
          2018 / 천리안위성 2A호 발사<br>
        </p>
      </div>
    </div>
  </div>
</body>

</html>